<div class="timer-page">
  <h1 class="title">Temporizador de Salida {{ targetTime | date: 'h:mm a' }}</h1>
  
  <!-- Agregar input para ingresar la hora targetTime y llamar al método onTargetTimeChange() -->
  <label for="valueTiem">Hora de Salida (HH:MM):</label>
  <input type="time" id="valueTiem" [(ngModel)]="valueTiem" name="valueTiem" (change)="onTargetTimeChange()">
  
  <label class="timer-label" [ngStyle]="{'color': timeRemaining > 0 ? 'green' : 'red'}">
    {{ timeRemaining > 0 ? '+' : '-' }}
    {{ hoursRemaining }}h {{ minutesRemaining }}m {{ secondsRemaining }}s
  </label>
  <div class="button-container">
    <button class="action-button" (click)="stopTimer()">Detener Contador</button>
  </div>
</div>
